<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - IAS Virtual Interview App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='iashome.css') }}">
</head>

<body class="body3">
    <div class="signup-container">
        <div class="signup-box">
            <h2>Sign Up</h2>
            <form action="{{ url_for('signup') }}" method="POST">
                <div class="input-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="input-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="input-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit" class="signup-btn">Sign Up</button>
            </form>
        </div>

        <div class="signup-image">
            <img src="/static/शीलं (2).gif" alt=" Sign Up Animation ">
        </div>
    </div>
</body>

</html>